{% extends "main/base.html" %}
{% load static %}

{% block body %}

<div class="landing-section">
    <!-- First Section - Full-width image -->
    <div class="full-width-image">
        <!-- Add your image source here -->
        <img src="{% static 'main/images/Cover1.jpg' %}" alt="First Section Image" style="max-width: 100%; height: auto;">
    </div>
</div>

<div class="landing-section">
    <!-- Second Section - Image on the left, Paragraph on the right -->
    <div class="flex-container section-with-margin">
        <div class="half-width left-section">
            <!-- Add your left image source here -->
            <img src="{% static 'main/images/Cover2.jpg' %}" alt="Left Image" style="max-width: 100%; height: auto; margin-right: 20px;">
        </div>
        <div class="half-width right-section">
            <p class="paragraph-with-margin times-new-roman">Mend From Within, is where personal development and well-being take center stage. Our goal is to support individuals, empowering them to overcome challenges and achieve inner healing. We extend a warm welcome to all those seeking personal growth – because your path to a better you starts right here..</p>
        </div>
    </div>
</div>

<div class="landing-section">
    <!-- Third Section - Paragraph on the left, Image on the right -->
    <div class="flex-container section-with-margin">
        <div class="half-width left-section">
            <p class="paragraph-with-margin times-new-roman">We believe in healing from within, embracing personal growth, and making mental wellness a part of your everyday life. Join us on this transformative adventure, where healing your mind is not just a goal – it's a journey. Your inner journey starts here.</p>
        </div>
        <div class="half-width right-section">
            <!-- Add your right image source here -->
            <img src="{% static 'main/images/Cover3.jpg' %}" alt="Right Image" style="max-width: 100%; height: auto; margin-left: 20px;">
        </div>
    </div>
</div>

<style>
    .flex-container {
        display: flex;
        align-items: center; /* Center items vertically within the container */
    }

    .half-width {
        width: 50%;
        box-sizing: border-box;
    }

    .section-with-margin {
        margin-top: 20px; /* Adjust as needed */
        margin-bottom: 20px; /* Adjust as needed */
    }

    .paragraph-with-margin {
        margin-right: 20px; /* Adjust as needed */
        margin-left: 20px; /* Adjust as needed */
        font-family: "Times New Roman", Times, serif; /* Add Times New Roman font */
    }
</style>

{% endblock %}
